#parse('_pagelet/constant.html')
<!DOCTYPE html>
<html>
<head>
#parse('_pagelet/header.html')
<title>${params.name} | 电影 | 大杂烩</title>
</head>
<body>
	#parse('portal/1.0.1/_pagelet/top_banner.html')
	<header id='header'></header>
	<section class='container'>
		<div class='row'>
			<div class='col-sm-12 col-md-8'>
				#parse('portal/1.0.1/_pagelet/top_message.html')
				<div class='panel panel-default' style='box-shadow: 0 0 5px #c2c2c2;'>
					<div class='panel-body'>
						<ol class='breadcrumb'>
							<li>
								<i class='fa fa-home fa-fw'></i>
								<a href='/'>首页</a>
							</li>
							<li>电影</li>
							<li class='active'><a href='/movie/${params.name}/'>${params.name}片</a></li>
						</ol>

						<div class='row'>

							<div class="col-sm-12 col-md-12">
								<div class="btn-group btn-group-sm" aria-label="Small button group" role="group">
									<button class="btn btn-default" type="button">热门</button>
									<button class="btn btn-default" type="button">评分</button>
									<button class="btn btn-danger" type="button">更新</button>
									<button class="btn btn-default" type="button">创建</button>
									<button class="btn btn-default" type="button">上映</button>
								</div>
							</div>
						</div>

						<p></p>
						
						<div class='row'>
							<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://i-7.vcimg.com/crop/fcd6a9c0a227ca8e36bad6f4d925358c82145(600x)/thumb.jpg" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>《翻译官》</h3>
            <h6 style='color:#ff7c00;'>更新至42集</h6>
            <p>杨幂黄轩演绎完美寻爱教科书，黄轩男友力Max！</p>
            
          </div>
        </div>
      </div>
							<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1466173720&di=d4fd7d98b4aa1a18614cde5ef6de905f&src=http://g.hiphotos.baidu.com/image/pic/item/0823dd54564e92589f2fe1019882d158cdbf4ec1.jpg" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
           
          </div>
        </div>
      </div>
							<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://i-7.vcimg.com/crop/1385c6abc06419e7662d395611a45f3157688(120x170)/thumb.jpg" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>再见美人鱼</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
           
          </div>
        </div>
      </div>
						</div>
						<div class='row'>
							<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://i-7.vcimg.com/crop/fcd6a9c0a227ca8e36bad6f4d925358c82145(600x)/thumb.jpg" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>翻译官</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            
          </div>
        </div>
      </div>
							<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1466173720&di=d4fd7d98b4aa1a18614cde5ef6de905f&src=http://g.hiphotos.baidu.com/image/pic/item/0823dd54564e92589f2fe1019882d158cdbf4ec1.jpg" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
           
          </div>
        </div>
      </div>
							<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://i-7.vcimg.com/crop/1385c6abc06419e7662d395611a45f3157688(120x170)/thumb.jpg" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>再见美人鱼</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
           
          </div>
        </div>
      </div>
						</div>
						<div class='row'>
							<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://i-7.vcimg.com/crop/fcd6a9c0a227ca8e36bad6f4d925358c82145(600x)/thumb.jpg" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>翻译官</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            
          </div>
        </div>
      </div>
							<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1466173720&di=d4fd7d98b4aa1a18614cde5ef6de905f&src=http://g.hiphotos.baidu.com/image/pic/item/0823dd54564e92589f2fe1019882d158cdbf4ec1.jpg" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>Thumbnail label</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
           
          </div>
        </div>
      </div>
							<div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://i-7.vcimg.com/crop/1385c6abc06419e7662d395611a45f3157688(120x170)/thumb.jpg" alt="Generic placeholder thumbnail">
          <div class="caption">
            <h3>再见美人鱼</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
           
          </div>
        </div>
      </div>
						</div>
						<nav>
						  <ul class="pagination pagination-sm">
						    <li>
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
						</nav>
						<div>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/twitter.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/qqwb.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/sinawb.png'></a>
							<a href='javascript:;'>
								<img src='/public/assets/images/share/16x16/baidu.png'></a>
						</div>
					</div>
				</div>
			</div>
			<div class='col-sm-12 col-md-4'>
				#parse('portal/1.0.1/_pagelet/panel_type.html')
			</div>
		</div>
	</section>
	#parse('portal/1.0.1/_pagelet/footer.html')
	#parse('_pagelet/js.html')
</body>
</html>
